<p class="news-coverage-list">
  <a href="{{ site.data.links.news_atlantic_is_this_ai_url }}" target="_blank" rel="noopener noreferrer">The Atlantic</a> &bull;
  <a href="{{ site.data.links.news_harvard_bkc_ncii_whitepaper_url }}" target="_blank" rel="noopener noreferrer">Harvard Berkman Klein Center</a> &bull;
  <a href="{{ site.data.links.mink_factt_26_news_lawfare }}" target="_blank" rel="noopener noreferrer">Lawfare Daily</a> &bull;
  <a href="{{ site.data.links.news_2024_human_centered_security_url }}" target="_blank" rel="noopener noreferrer">Human-Centered Security Podcast</a> &bull;
  <a href="{{ site.data.links.news_usenix_2022_futurum_url }}" target="_blank" rel="noopener noreferrer">Futurum Careers</a> &bull;
  <a href="{{ site.data.links.news_usenix_2022_new_scientist_url }}" target="_blank" rel="noopener noreferrer">New Scientist</a> &bull;
  <a href="{{ site.data.links.zhang_www_2022_news_the_transmitter_url }}" target="_blank" rel="noopener noreferrer">The Transmitter</a> &bull;
  <a href="{{ site.data.links.mink_chi_2022_news_the_21st_show_url }}" target="_blank" rel="noopener noreferrer">The 21st Show</a>
</p>
